@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow&display=swap');


html {
    background-image: url( ./assets/home/background-home-desktop.jpg); 
    ackground-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
}

body {
  min-height: 100%;
}

/* Home Page */

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    font-size: 22px;
    width: 80%;
    padding: 0;
    margin-top: 10px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
    justify-items: right;
    font-family: 'Barlow Condensed', sans-serif;
}

.container-1 {
    border: 3px solid red;
    display: grid;
    flex-direction: row;
}

.space-quote {
    font-size: 28pt;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: .5rem
}

.quote {
    font-size: 18pt;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 800px;
    position: relative;
    left: 250px;
    bottom: -250px;
}

.space {
    font-size: 200pt;
}

.explore {
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: black;
    font-size: 60px;
    position: relative;
    left: 1400px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore:hover {
    background-color: lightgrey;
}
