@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow&display=swap');


html {
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: white;
}


/* Home Page */

nav {
    font-size: 16px;
    word-spacing: 2.7;
}

.container-1 {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

.space-quote {
    font-size: 28pt;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: .5rem
}

.quote {
    font-size: 18pt;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 800px;
    position: relative;
    left: 250px;
    bottom: -250px;
}

.space {
    font-size: 200px;
}

.explore {
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: black;
    font-size: 60px;
    position: relative;
    left: 1400px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore:hover {
    background-color: lightgrey;
}